.y-grid{
  flex:1;
  //background: yellowgreen;
  display: flex;
  flex-direction: column;
  >.row{
    flex:1;
    display: flex;
    >.col{
      flex:1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
