.CanvasConnection{
  display: flex;
  flex-direction: column;
  .inputs{

  }
  .gridWrap{
    flex:1;
    display: flex;
  }

  .item{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    background: blue;
    color:#fff;
  }
  #x1{
    background: red;
  }
  #x2{
    background: green;
  }
}
