.GridDrag{
  display: flex;
  .item{
    width:54px;
    height:54px;
    &.wall{
      background: blue;
    }
    &.source{
      background: red;
    }
    &.target{
      background: greenyellow;
    }
  }
}
