.GridMuchNode{
  display: flex;
  .col{
    border:1px solid #e1e1e1;
  }
  .item{
    width:36px;
    height:36px;
    &.wall{
      background: blue;
    }
    &.source{
      background: red;
    }
    &.target{
      background: greenyellow;
    }
  }
}
