.y-grid{
  flex:1;
  //background: yellowgreen;
  display: flex;
  flex-direction: column;
  >.row{
    flex:1;
    display: flex;
    >.col.dragItem{
      &.draggable{
        pointer-events: initial;
      }
      pointer-events: none;
      flex:1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
