.EventDragRowTest{
  .row{
    &.dragover{
      border-top: 2px solid #5477ff;
    }
    display: flex;
    margin:4px 8px;
    padding:8px 12px;
    background-color: #fff;
    border-radius: 3px;
    user-select:none;
  }
  .dragItem{
    cursor: pointer;
    border-right:solid 1px rgba(0,0,0,0.08);
    margin:0 8px;
  }
}

